/* reset */
body,div,p,ul,li,table,tbody,tr,td,textarea,form,input,h1,h2,h3,h4,h5,dl,dt,dd,img,iframe,header,nav,section,article,footer,figure,figcaption,menu{margin:0;padding:0;list-style:none;}
body{font-family:"\5FAE\8F6F\96C5\9ED1",Helvetica;-webkit-text-size-adjust:none;font-size:0.24rem;}
header,nav,section,article,footer,figure,figcaption{display:block;}
ol,ul{margin:0;padding:0;}
fieldset{border:none;margin:0;padding:0;}
a,li,ul,[onclick]{-webkit-tap-highlight-color:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
em,strong{font-weight:normal;font-style:normal;}
a {text-decoration:none;}
b{font-weight: bold;}
.hide {display:none;}
.c:before,.c:after {content:"";display:table;}
.c:after {clear:both;}
.fl {float:left;}
.fr {float:right;}
.pr {position:relative;}
.pa {position:absolute;}
.db {display:block;text-indent:-999em;}
.sp{background: url(../img/spr.png) no-repeat;background-size: 6.4rem 12.51rem;}

body,html{background-color: #631f0d;}
.wrap{width: 100%;position: relative;background-size: 100% 100%;}
.foot{width: 100%;background: #100b04;}
.foot_text{width: 100%;text-align: center;font-size: 0.2rem;color: rgba(255,255,255,0.5);line-height: 0.7rem;}
.foot img{display: block;width: 100%;height: 1.16rem;}
.head{background: url(../img/bg1.jpg) no-repeat;width:6.4rem;height:10.63rem;background-size: 100% 100%;}
.content{background: url(../img/bg2.jpg) no-repeat;width:6.4rem;height:34.06rem;background-size: 100% 100%;}

.logo1{background-position: -0.2rem -0.19rem;width: 1.43rem;height: 0.83rem;left: 0.4rem;top:0.85rem;}
.logo2{background-position: -1.9rem -0.19rem;width:1.15rem;height:0.83rem;left:2.02rem;top:0.8rem;}
.logo3{background-position: -3.12rem -0.19rem;width: 1.97rem;height: 0.83rem;left: 4.15rem;top:0.8rem;}
.btn_start{background-position: -0.2rem -1.41rem;width: 2.61rem;height: 0.9rem;left: 50%;margin-left: -1.3rem;top:8.6rem;}
.z-login{width:6.4rem;font-size:0.24rem;color:#f6f3bf;font-weight:bold;position: absolute;top:9.7rem;left:0rem;text-align: center;}
.z-login a{color:#f6f3bf;font-size:0.24rem;font-weight:bold;border-bottom:1px solid #fefdc7;padding-bottom:0.01rem;}
/*计划启动部分*/
.section1{height:11.7rem;}
.sec1-tit,.sec1-txt{font-size:0.2rem;color:#fffffc;font-weight:bold;}
.sec1-tit{padding-left:1.83rem;padding-top:0.5rem;}
.sec1-txt{font-weight:normal;text-align: center;padding-top:0.2rem;}
.my-jf{color:#ffffff;display:inline-block;font-size:0.22rem;font-weight:bold;padding:0.02rem;border-bottom:1px solid #fff;float:right;margin-right:0.56rem;margin-top:0.1rem;}
.my-jf em{font-style: normal;}
.sec1-under{width:6.4rem;position: relative;clear: both;margin-top:0.7rem;}
.sec1-box1{width:6.1rem;margin: 0 auto;height:2.15rem;}
.box-left{width:0.76rem;height:2.06rem;background-position: -2.66rem -2.51rem;float:left;}
.box-left p{font-size:0.2rem;color:#303030;font-weight:bold;text-align: center;line-height: 0.3rem;padding-top:0.6rem;}
.box-right{width:5.26rem;/*height:1.91rem;*/float:left;position: relative;}
.box-level{color:#fefdc7;font-size:0.3rem;font-weight:bold;padding-left:0.05rem;clear: both;}
.box-level span{font-size:0.24rem;font-weight: normal;margin-left:0.1rem;}
.box-right ul {margin-top:0.12rem;}
.box-right ul li{width:1.2rem;height:1.4rem;float:left;margin:0.05rem;}
.box-right ul li a{display: block;}
.box-right ul li img{width:1.2rem;height:1.11rem;display: block;background-size:100% 100%;}
.box-right ul li p{color:#ffffff;font-size:0.18rem;text-align: center;padding-top:0.06rem;}
/*蒙版1*/
.box-right .clock1{width:5.26rem;height:1.96rem;position: absolute;top:0.05rem;left:-0.03rem;}
.box-right .clock1-bg{width:5.26rem;height:1.96rem;background: #000;opacity: 0.7;border:1px solid #fff;border-radius:0.1rem;position: absolute;top:0rem;left:0rem;z-index:0}
.box-right .clock-img{display:block;width:1.75rem;height:1rem;background-position: -3.76rem -1.25rem;margin:0.3rem auto 0rem auto;position: relative;z-index:1}
.box-right .clock1 p{color:#ffffff;font-size:0.18rem;text-align: center;padding-top:0.1rem;position: relative;z-index:1;}
.on .box-left{background-position: -1.79rem -2.51rem;float:left;}
.on .box-left p{color:#5d1e0c;}
.on .box-right .clock1{display: none;}

.sec1-box2{width:6.1rem;margin: 0 auto;clear:both;}
.box-left2{width:0.76rem;height:7.2rem;background-position: -0.95rem -2.51rem;float:left;}
.box-left2 p{font-size:0.2rem;color:#303030;font-weight:bold;text-align: center;line-height: 0.3rem;padding-top:0.6rem;}
.box-right2{width:5.26rem;/*height:1.91rem;*/float:left;position: relative;}
.box-right2 ul {margin-top:0.11rem;clear: both;}
.box-right2 .ul1 li{width:1.2rem;height:1.45rem;float:left;margin:0.05rem 0.15rem;}
.box-right2 .ul1 li a{display: block;}
.box-right2 ul li img{width:1.2rem;height:1.11rem;display: block;background-size:100% 100%;margin:0 auto;}
.box-right2 ul li p{color:#ffffff;font-size:0.18rem;text-align: center;padding-top:0.06rem;}
.box-right2 .ul2 li{width:1.3rem;height:1.4rem;float:left;margin:0.05rem 0rem;}
.box-right2 .ul2 li a{display: block;}
.box-right2 .ul2 li p{color:#ffffff;font-size:0.18rem;text-align: center;padding-top:0.06rem;letter-spacing: -0.01rem;}
/*蒙版2*/
.box-right2 .clock1{width:5.26rem;height:7.1rem;position: absolute;top:0.05rem;left:-0.03rem;}
.box-right2 .clock1-bg{width:5.26rem;height:7.1rem;background: #000;opacity: 0.7;border:1px solid #fff;border-radius:0.1rem;position: absolute;top:0rem;left:0rem;z-index:0}
.box-right2 .clock-img{display:block;width:1.75rem;height:1rem;background-position: -3.76rem -1.25rem;margin:2.3rem auto 0rem auto;position: relative;z-index:1}
.box-right2 .clock1 p{color:#ffffff;font-size:0.18rem;text-align: center;padding-top:0.1rem;position: relative;z-index:1;}
.on .box-left2{background-position: -0.11rem -2.51rem;float:left;}
.on .box-left2 p{color:#5d1e0c;}
.on .box-right2 .clock1{display: none;}

/****加工厂部分*******/
.section2{height:6.86rem;}
.list-box{width:6.4rem;height:rem;margin-top:0.1rem;}
.list-box ul{width:5.4rem;margin: 0 auto;overflow: hidden;}
.list-box li{width:1.7rem;height:1.02rem;position:relative;float:left;margin:0.1rem 0.05rem;color:#611f0c;font-weight:bold;text-align: center;}
.z-c{display:none;width:1.73rem;height:1.02rem;background:url(../img/c.png) no-repeat;background-size: 100% 100%;position: absolute;top:0rem;left:-0.003rem;}
.sel .z-c{display: block;}
.list-box .card-bg{width:1.7rem;height:1.02rem;background-position: -1.87rem -5.63rem;}
.card-left{width:1.12rem;line-height:0.3rem;font-size:0.24rem;position: absolute;top:0.3rem;left:0rem;}
.card-right{width:0.58rem;font-size:0.18rem;line-height: 0.2rem;position: absolute;top:0.18rem;right:0rem;}
.jb{display: block;width:0.55rem;height:0.54rem;position:absolute;top:0rem;right:-0.03rem;background-position: -2.91rem -4.88rem;}
.card-img{width:1.12rem;position: absolute;top:0rem;left:0rem;}
.card-img img{display:block;width:1.12rem;height:1rem;background-size:100% 100%;}
.card-num{width:0.58rem;font-size:0.18rem;position: absolute;top:0.33rem;right:0rem;line-height: 0.23rem;}
.cj-btn1,.cj-btn2{display: block;width:2.07rem;height:0.85rem;margin-top:0.33rem;background-position: -3.96rem -2.59rem;float:left;position: relative;}
.cj-btn1 span,.cj-btn2 span{display:inline-block;width:100%;color:#571b0b;font-size:0.18rem;text-align:center;padding-top:0.48rem;}
.cj-btn1{margin-left:0.84rem;}
.cj-btn2{margin-left:0.6rem;}
.jb-hui{width:0.48rem;height:0.48rem;background-position: -5.3rem -0.4rem;position: absolute;top:0.01rem;left:-0.16rem;}

/*玩转电竞部分*/
.section3{height:8.7rem;}
.sec3-under{width:6.4rem;height:rem;}
.row1{width:5.75rem;margin: 0 auto;padding-top:0.15rem;clear: both;height:1.95rem;}
.task-name{width:0.8rem;height:1.1rem;background:#fff;border-radius:0.2rem;float:left;}
.task-name p{font-size:0.3rem;color:#611f0c;font-weight:bold;text-align: center;line-height: 0.33rem;padding-top:0.1rem;}
.zb-img{width:2.6rem;height:1.8rem;float:left;margin-left:0.2rem;margin-right:0.3rem;}
.zb-img img{display: block;width:2.6rem;height:1.8rem;background-size:100% 100%;}
.row-btn{width:1.66rem;height:rem;float:left;margin-top:0.1rem;}
.row-btn a{display: block;width:1.66rem;height:0.57rem;margin-top:0.15rem;}
.btn-lo{background-position: -3.96rem -3.61rem;}
.btn-lq{background-position: -3.96rem -4.31rem;}

.see-img{width:2.3rem;height:1.6rem;background:url(../img/show2.png) no-repeat;background-size: 100% 100%;float:left;}
.see-img p{color:#63200d;font-size:0.24rem;text-align: center;font-weight:bold;padding-top:0.43rem;padding-bottom:0.1rem;letter-spacing: -0.02rem;}
.see-img1{margin-left:0.2rem;margin-right:0.1rem;}
.btn-lingqu1,.btn-lingqu2{display: block;width:1.66rem;height:0.57rem;margin:0 auto}
.btn-lingqu1{background-position: -3.96rem -5.01rem;}
.btn-lingqu2{background-position: -3.96rem -5.71rem;}

.person{width:2.47rem;height:rem;float: left;}
.person img{display: block;width:1.36rem;height:1.36rem;background-size:100% 100%;margin:0 auto;}
.btn-gz,.btn-jf{display: block;height:0.44rem;float:left;margin-top:0.11rem;}
.btn-gz{width:1.16rem;background-position: -3.97rem -6.41rem;}
.btn-jf{width:1.18rem;background-position: -3.97rem -6.98rem;margin-left:0.07rem;}
.zb-more{display:block;width:5.7rem;height:0.46rem;background-position: -0.2rem -9.96rem;margin-left:0.36rem;margin-top:0.25rem;}

/*活动规则*/
.section4{height:6.75rem;}
.section4 ul{width:5.4rem;margin:0 auto;padding-top:0.54rem;}
.section4 ul li{clear: both;padding-top:0.1rem;}
.dot{display: block;width:0.41rem;height:0.41rem;margin-right:0.12rem;float:left;background-position: -5.94rem -0.44rem;font-size:0.22rem;color:#6a240d;line-height: 0.41rem;text-align: center;font-weight:bold;}
.section4 ul li p{width:4.87rem;color:#ffffff;font-size:0.22rem;float:left;line-height: 0.33rem;}
.section4 ul li p em{font-style: normal;color:#fdfdad;font-weight:bold;}
/*弹窗*/
.pop1{width:5.45rem;height:4.5rem;position:relative;}
.pop-nr1{width:5.45rem;height:3.3rem;background:url(../img/tc-bg1.png) no-repeat;background-size:100% 100%;}
.tc-tit{color:#ffffff;font-size:0.24rem;text-align: center;font-weight:bold;padding-top:0.5rem;padding-bottom:0.15rem;}
.tc-tit span{color:#ffd03c;}
.pop-nr1 ul,.pop-nr2 ul{width:2.1rem;height:rem;margin:0 auto;}
.pop-nr1 ul li,.pop-nr2 ul li{width:2.1rem;}
.pop-nr1 ul li img,.pop-nr2 ul li img{display: block;width:1.69rem;height:1.54rem;background-size:100% 100%;margin:0 auto;}
.pop-nr1 ul li p,.pop-nr2 ul li p{color:#ffffff;font-size:0.25rem;text-align:center;padding-top:0.08rem;}
.btn-again,.btn-dh,.btn-gg,.btn-goin,.btn-true{display: block;width:1.81rem;height:0.75rem;float:left;margin-top:0.26rem;}
.btn-again{background-position: -1.86rem -7.55rem;margin-left:0.59rem;}
.btn-dh{background-position: -4.26rem -7.55rem;margin-left:0.6rem;}
.btn-gg{background-position: -1.86rem -8.43rem;margin-left:0.59rem;}
.btn-goin{background-position: -4.26rem -8.43rem;margin-left:0.6rem;}
.btn-true{background-position: -0.19rem -10.75rem;margin:0 auto;float:none;}

.pop2{width:5.45rem;height:4.7rem;position:relative;}
.pop-nr2{width:5.45rem;height:3.6rem;background:url(../img/tc-bg2.png) no-repeat;background-size:100% 100%;}
.pop3{width:5.45rem;height:3.45rem;position:relative;}
.pop-nr3{width:5.45rem;height:2.3rem;margin-bottom:0.3rem;background:url(../img/tc-bg3.png) no-repeat;background-size:100% 100%;}
.tc-txt{color:#ffffff;font-size:0.32rem;text-align: center;font-weight:bold;padding-top:0.8rem;padding-bottom:0.15rem;}


.pop5{width:5.45rem;height:10.19rem;position:relative;}
.pop-nr5{width:5.45rem;height:10.19rem;background:url(../img/zb-bg.png) no-repeat;background-size:100% 100%;}
.tc-zb{color:#ffffff;font-size:0.24rem;text-align: center;line-height:0.3rem;font-weight:bold;padding-top:0.8rem;padding-bottom:0.15rem;}
.tc-zb span{color:#ffd03c;}
.zb-under{width:5.45rem;margin-bottom:0.18rem;}
.zb-row{clear:both;margin-top:0.12rem;overflow: hidden;}
.zb-row1 .row-img{margin-left:0.83rem;}
.zb-row2 .row-img{margin-left:0rem;}
.zb-row1 .row-wa{margin-left:0.2rem;}
.zb-row2 .row-wa{margin-left:0.6rem;}
.row-img {width:1.38rem;position: relative;float:left;}
.row-img img{display: block;width:1.38rem;height:1.38rem;background-size:100% 100%;}
.row-img p{position: absolute;width:1.38rem;top:0.95rem;left:0rem;font-weight:bold;color:#5d2000;font-size:0.2rem;text-align: center;}
.row-wa{width:2.6rem;padding-top:0.15rem;float:left;}
.row-txt{color:#fffffe;width:2.6rem;font-size:0.18rem;font-weight:bold; line-height: 0.27rem;
height: 0.55rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.btn-ta,.btn-da{display: block;width:1.02rem;height:0.46rem;float:left;margin-top:0.12rem;}
.btn-ta{background-position: -2.16rem -10.72rem;margin-left:0.1rem;}
.btn-da{background-position: -2.18rem -11.27rem;margin-left:0.25rem;}
.btn-dashen{display: block;width:2.24rem;height:0.75rem;background-position: -3.49rem -10.75rem;margin:0 auto;}
.closed{width:0.53rem;height:0.53rem;background-position:-5.82rem -10.88rem;display:block;position:absolute;top:-0.58rem;right:0.01rem;z-index:2;}
.closed2{width:0.53rem;height:0.53rem;background-position:-5.82rem -10.88rem;display:block;position:absolute;top:0.23rem;right:0.2rem;z-index:2;}

#pop-mask{position: absolute;left: 0;top: 0;width: 100%;background:rgba(0,0,0,0.7);}
